<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asf.appcoins.sdk.ads">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <uses-permission android:name="android.permission.INTERNET"/>

  <application>
    <service
        android:name="com.asf.appcoins.sdk.ads.poa.SDKPoAService"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="com.asf.appcoins.service.ACTION_BIND"/>
        <action android:name="com.asf.appcoins.service.ACTION_ACK_BROADCAST"/>
      </intent-filter>
    </service>
  </application>
</manifest>
